{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bunker/style.css' %}" />
<h1>Bunk Log</h1>
{% if latest_bunks %}
    <ul>
    {% for bunk in latest_bunks %}
        <li>At {{bunk.time}}, <img src="{{ bunk.from_user.photo.url }}" height="20" width="20"> <a href="{% url 'bunker:personal' bunk.from_user.id %}">
{{bunk.from_user.user}}</a> bunked
        {% if bunk.from_user != bunk.to_user %}
            <img src="{{ bunk.to_user.photo.url }}" height="20" width="20"> <a href="{% url 'bunker:personal' bunk.to_user.id %}">{{bunk.to_user.user}}</a></li>
        {% else %}
            themself
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% if prev_page >= 0 %}
    <a href="{% url 'bunker:index' prev_page %}">Previous page</a>
{% endif %}
{% if next_page >= 0 %}
    <a href="{% url 'bunker:index' next_page %}">Next page</a>
{% endif %}



